<h1>List of Songs</h1>

<table> 

<thead>
    <tr>
    <td> Name</td>
    </tr>  
</thead>

<tbody>
<% @songs.each do |song| %>
    
    <tr>
    <td><%= link_to(song.title, song_path(song)) %></td>
    </tr>
<% end %>

</tbody>

</table>

<br>  

<%= button_to "Create A Song", new_song_path, method: :get %>
